nav {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
}

nav button {
  background-color: rgb(60, 126, 232);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}
